.navbar {

  .navbar-brand {
    color: #fff;
    font-size: 19px;
  }
}

#social-media-navbar {
  margin-bottom: 0px !important;

  .navbar-brand {
    padding: {
      top: 22px;
      bottom: 22px;
    };
  }
}
