.wrapper {
  background-color: $white;
  padding: {
    top: 10%;
    bottom: 10%;
  }
}

.wrapper-short {
  padding: {
    top: 15px;
    bottom: 15px;
  }
}

.wrapper-loud {
  background-color: $orange;
  color: $black;
  font-weight: bold;

  a {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  .lead {
    color: $black;
    font-weight: bold;
  }
}

.wrapper-inverse {
  background-color: transparent !important;
  color: $white;
  
  a,
  a:link {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $grey;
  }

  .lead {
    color: $white;
  }
}
