.path-about {
  #page-title {
    display: none;
  }

  #about-wrapper {
    margin-bottom: 0px;
    padding: {
      top: 10%;
      bottom: 10%;
    }
  }

  #join-wrapper {
    @include full-width-image();
    background-image: url('../images/crowd.jpg');
  }

  #exit-wrapper {
    @include full-width-image();
    background-image: url('../images/statue.jpg');
  }
}
