
{% if bands is empty %}
  <p>We're announcing music soon!</p>
{% else %}

  <ul>
  {% for band in bands %}
    <li>
      <h2>{{ band.title }}</h2>
      {{ band.description }}
    </li>
  {% endfor %}
  </ul>

{% endif %}
