

{% if release_party %}
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a href="http://www.center45.com/">
          <img src="/{{ directory }}/images/center45.png" class="img-responsive">
        </a>
      </div>
        <div class="col-xs-12 col-sm-8">
          <h1>Join us on Saturday, April 30th at 5:00pm for our Hoppin' Off ticket release party at <a href="http://www.center45.com/">Center 45</a>!</h1>
          <p class="lead">Free music and a mini tasting of High Country centered breweries at Boone's newest mountain sport business.</p>
          <p><a href="https://www.facebook.com/events/1584049945242159/" title="Hoppin' Off Ticket Release Party at Center 45" class="btn btn-default" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
